<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\styleLogin.css">
    <title>Document</title>
</head>
<body>
    <div id="menu-bar">
        <div class="menuBarItem logo">
            <h2>Logo</h2>
            <img src="" alt="">
        </div>
        <div class="menuBarItem project-name">
            <h1>Nombre del proyecto</h1>
        </div>
        <div class="menuBarItem">
            <nav>
                <ul id="first-nav-bar">
                    <li><a href="">Iniciar sesión</a></li>
                    <li><a href="">Registrarse</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="objetive">
        <h3>Objetivos del proyecto</h3>
        <div class="container-objetive">
            <div class="objetive-content"></div>
        </div>
    </div>
    <footer>
        <h1><a href="">Contacto</a></h1>
    </footer>
    <script>
    </script>
</body>
</html>