<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleUser.css">
    <title>Document</title>
</head>
<body>
    <div id="menu-bar">
        <div class="menuBarItem logo">
            <h2>Logo</h2>
            <img src="" alt="">
        </div>
        <div class="menuBarItem project-name">
            <h1>Nombre del proyecto</h1>
        </div>
        <div class="menuBarItem">
            <nav>
                <ul id="first-nav-bar">
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="return">
        <h4><a href="./userpage.html">Panel de usuario</a></h4>
    </div>
    <div id="user-panel">
        <div class="back-img">
            <h2 class="title-conf">Asesorias</h2>
        </div>
        <div class="container-panel">
            <div class="section-panel" style="background-color:white; color: #000;">
                <img src="https://image.flaticon.com/icons/png/512/2353/2353677.png" alt="" width="150px">
            </div>
            <div class="section-panel" style="background-color: aqua; color: #000;">
                <a href="./schoolardata.html">¿Qué es una asesoría?</a>
                <p style="color: black; text-align: justify;">Es una herramienta de regularización donde al alumno se le proporciona material y contenido extra para que comprenda los temas en los cuales tiene un resago.</p>
            </div>
            <div class="section-panel" style="background-color: aqua; color: #000;">
                <img src="https://image.flaticon.com/icons/png/512/2117/2117251.png" alt="" width="150px">
                <a href="">Solicitar una asesoría</a>
            </div>
            <div class="section-panel" style="background-color: aqua; color: #000;">
                <img src="https://image.flaticon.com/icons/png/512/1330/1330054.png" alt="" width="150px">
                <a href="">Avance de Asesorias</a>
            </div>
        </div>
    </div>
    <footer>
        <h1><a href="">Contacto</a></h1>
    </footer>
    <script>
    </script>
</body>
</html>