<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleUser.css}">
    <title>Document</title>
</head>
<body>
<div th:replace="fragments/_menu.html"></div>
    <div class="return">
        <h4><a th:href="@{/panel}">Panel de usuario</a></h4>
    </div>
    <div id="user-panel">
        <div class="back-img">
            <h2 class="title-conf">Asesorias</h2>
        </div>
        <div class="container-panel">
            <div class="section-panel" style="background-color:white; color: #000;">
                <img src="https://image.flaticon.com/icons/png/512/2353/2353677.png" alt="" width="150px">
            </div>
            <div class="section-panel" style="background-color: aqua; color: #000;">
                <a href="./schoolardata.html">¿Qué es una asesoría?</a>
                <p style="color: black; text-align: justify;">Es una herramienta de regularización donde al alumno se le proporciona material y contenido extra para que comprenda los temas en los cuales tiene un resago.</p>
            </div>
            <div class="section-panel" style="background-color: aqua; color: #000;">
                <img src="https://image.flaticon.com/icons/png/512/2117/2117251.png" alt="" width="150px">
                <a href="">Solicitar una asesoría</a>
            </div>
            <div class="section-panel" style="background-color: aqua; color: #000;">
                <img src="https://image.flaticon.com/icons/png/512/1330/1330054.png" alt="" width="150px">
                <a href="">Avance de Asesorias</a>
            </div>
        </div>
    </div>
<footer th:replace="fragments/_footer"></footer>
    <script>
    </script>
</body>
</html>