<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleUser.css}">
    <title>Document</title>
</head>
<body>
<div th:replace="fragments/_menu.html"></div>
    <div class="return">
        <h4><a th:href="@{/login}">Regresar a login</a></h4>
    </div>
    <div id="user-panel">
        <div class="back-img">
            <h2 class="title-conf">Error</h2>
        </div>
        <div class="container-panel">
            <div style="margin: 0 auto;">
                <img src="https://static.vecteezy.com/system/resources/previews/000/364/460/non_2x/vector-website-error-403.jpg" alt="" width="800px">
            </div>
        </div>
    </div>
<footer th:replace="fragments/_footer"></footer>
    <script>
    </script>
</body>
</html>