<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleLogin.css}">
    <title th:text="${title}"></title>
</head>
<body>
<div th:replace="fragments/_menu.html"></div>
<div class="return">
    <h4><a href="./index.html">Home</a></h4>
</div>
<div id="login">
    <h3>Iniciar sesión</h3>
    <div id="container-form">
        <div th:if="${#request.getParameter('error') == 'true'}" id="error">
            Error al Iniciar sesion!!
            </br>

            Razon:
            <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                  th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Sumario estatico
            </span>
        </div>
        <form name='f' th:action="@{/j_spring_security_check}" method='POST' id="form-shape">
            <!-- Username -->
            <label for="name">Usuario:</label>
            <input type='text' name='username' value=''>
            <!-- Password -->
            <label for="username">Contraseña:</label>
            <input type='password' name='password'>
            <p><a href="#">¿Olvidaste tu contraseña?</a>
            <div id="lower">
                <!-- Submit Button -->
            <input class="buttom-submit" name="submit" type="submit" value="Login">
            </div>
        </form>
        <div class="center"></div>
    </div>
</div>
<footer th:replace="fragments/_footer"></footer>
<script>
</script>
</body>
</html>