<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylepersonaldata.css">
    <title>Document</title>
</head>
<body>
    <!-- Esto se queda en todas las páginas -->
    <div id="menu-bar">
        <div class="menuBarItem logo">
            <h2>Logo</h2>
            <img src="" alt="">
        </div>
        <div class="menuBarItem project-name">
            <h1>Nombre del proyecto</h1>
        </div>
        <div class="menuBarItem">
            <nav>
                <ul id="first-nav-bar">
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Esto se queda en todas las páginas -->
    <div class="return">
        <h4><a href="./userpage.html">Panel de usuario</a></h4>
    </div>
    <div id="user-panel">
        <div class="back-img">
            <h2 class="title-conf">Datos personales</h2>
        </div>
        <div class="container-panel">
            <div class="section-panel">
                <a href="">Fotografía ID</a>
                <img src="https://pbs.twimg.com/profile_images/977232658047660038/z0Fnsh-8_400x400.jpg" alt="" width="150px">
            </div>
            <div class="section-panel data">
                <p>
                    Nombre: Apellido Paterno   Apellido Materno   Nombres <br>
                    Telefono de contacto: ## ## ## ## <br>
                    Dirección: p. sherman 42 wallaby way. Sidney <br>
                </p>
            </div>
        </div>
    </div>
    <footer>
        <h1><a href="">Contacto</a></h1>
    </footer>
    <script>
    </script>
</body>
</html>