<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleUser.css">
    <title>Document</title>
</head>
<body>
    <div id="menu-bar">
        <div class="menuBarItem logo">
            <h2>Logo</h2>
            <img src="" alt="">
        </div>
        <div class="menuBarItem project-name">
            <h1>Nombre del proyecto</h1>
        </div>
        <div class="menuBarItem">
            <nav>
                <ul id="first-nav-bar">
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="return">
        <h4><a href="./login.html">Cerrar sesión</a></h4>
    </div>
    <div id="user-panel">
        <div class="back-img">
            <h2 class="title-conf">Bienvenido</h2>
        </div>
        <div class="container-panel">
            <div class="section-panel">
                <img src="" alt="">
                <a href="./personaldata.html">Datos personales</a>
            </div>
            <div class="section-panel">
                <img src="" alt="">
                <a href="./schoolardata.html">Datos escolares</a>
            </div>
            <div class="section-panel">
                <img src="" alt="">
                <a href="">Calificaciones</a>
            </div>
            <div class="section-panel">
                <img src="" alt="">
                <a href="">Asesorias</a>
            </div>
        </div>
    </div>
    <footer>
        <h1><a href="">Contacto</a></h1>
    </footer>
    <script>
    </script>
</body>
</html>