<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styleUser.css}">
    <title th:text="@{title}"></title>
</head>
<body>
<div th:replace="fragments/_menu.html"></div>
    <div id="user-panel">
        <div class="back-img">
            <h2 class="title-conf">Bienvenido</h2>
        </div>
        <div class="container-panel">
            <div class="section-panel">
                <img src="" alt="">
                <a href="">Datos personales</a>
            </div>
            <div class="section-panel">
                <img src="" alt="">
                <a href="">Datos escolares</a>
            </div>
            <div class="section-panel">
                <img src="" alt="">
                <a href="">Calificaciones</a>
            </div>
            <div class="section-panel">
                <img src="" alt="">
                <a href="">Asesorias</a>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/_footer"></footer>
    <script>
    </script>
</body>
</html>